body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-color: blueviolet;
}

img{
    imaginposition: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.button-container{
    width: 40px;
    height: 20px;
    background-color: turquoise;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    width: 500px;
    height: 600px;
    background-color: rgb(250, 246, 246);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(237, 239, 228, 0.703);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* AFASTAR conteúdo e botão */
    padding: 20px;
}

.btn-final{
    width: 150px;
    height: 50px;
    background-color: rgb(53, 7, 97);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

    position: fixed;      /* colado ao ecrã */
    bottom: 20px;         /* distância ao fundo */
    left: 50%;            /* centro horizontal */
    transform: translateX(-50%);
}

.btn-final a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: cursive;
}

.btn-final:hover {
    background-color: rgb(165, 151, 178);
    animation: 0.6s scaleit alternate infinite;
}

.text-card img{
    width: 500px;
    height: 300px;
    margin-top: 5px;
    border-radius: 16px;
}

.text-card {
    flex: 80%; /* Ocupa a maior parte do espaço disponível */
    margin-top: 40px;
    font-size: 12px;
    color: #333;
    overflow-y: auto; /* Adiciona barra de rolagem se o texto for muito longo */
    text-align: center;

}



@keyframes scaleit {
0% {
transform: scale(1);
background-color: salmon;
}
80% {
transform: scale(1);
background-color: royalblue;

}
100% {
transform: scale(2);
}
}







