 body {
    margin: 0;
    height: 100vh; /* ocupa toda a altura da tela */
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;    /* centraliza verticalmente */
    background-color: #2E1E54;
  }

    #myCanvas {
        border-radius: 16px;
    }

    img {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 350px;
        transform: translateX(-50%);
        height: auto;
        pointer-events: none;
    }
